@font-face {
  font-family: "iconfont"; /* Project id 4624882 */
  /* Color fonts */
  src:
       url('//at.alicdn.com/t/c/font_4624882_zqvr4suf87p.woff2?t=1721271331940') format('woff2'),
       url('//at.alicdn.com/t/c/font_4624882_zqvr4suf87p.woff?t=1721271331940') format('woff'),
       url('//at.alicdn.com/t/c/font_4624882_zqvr4suf87p.ttf?t=1721271331940') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 22px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tieba-in-box:before {
  content: "\e600";
}
